
.flashcard {
    width: 300px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .flashcardcontent {
    font-size: 1.2em;
    text-align: center;
  }
  .flashcardcontent.flipped {
    transform: rotateY(180deg);
    font-size: 1.2em;
    text-align: center;
  }
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    flex-direction: column;
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  button:not(:disabled):hover {
    background-color: #0056b3;
  }
  



  .flashcard-form {
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .flashcard-form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }





  
  